:root {
    --backgroundcolor: #623118;
    --bodyfontsize: 1rem;
    --bodytextcolor: #4e0b0bb1;
    --bodytextcolorwhite: #c87b10;
    --headercolor: #fffff;
    --headerfontsize: clamp(1.9375rem,3.9vw,3.0625rem);
    --primary: #631a06;
    --primarylight: #431808;
    --secondary: #460904;
    --secondarylight: #ffba43;
    --sectionpadding: clamp(3.75rem,7.82vw,6.25rem) 1rem;
    --topperfontsize: clamp(0.8125rem,1.6vw,1rem)
}

body {
    background-color: #100403
}

h1 {
    --bodytextcolorwhite: #0c1b2b
}

.logo {
    color: var(--headerColor);
    font-size: var(--headerFontSize);
    font-weight: 900;
    left: 10px;
    line-height: 1.2em;
    margin: 0 0 1rem;
    max-width: 43.75rem;
    text-align: center
}

h2,nav {
    align-items: center
}

.logo,nav {
    position: fixed;
    top: 0
}

nav {
    display: flex;
    height: 100vh;
    justify-content: center;
    right: 0;
    z-index: 10
}

.timeline-steps .timeline-step,nav .nav-content {
    align-items: center;
    display: flex;
    flex-direction: column
}

nav .nav-content {
    background-color: #260502;
    border-radius: 8px;
    box-shadow: -4px 0 8px #0000001a;
    gap: 1em;
    padding: 1em
}

nav a {
    border-radius: 4px;
    color: #a66509;
    font-size: 20px;
    padding: .5em 1em;
    text-decoration: none;
    transition: background-color .3s ease
}

nav a:hover {
    background-color: #a665094e
}

main {
    margin-top: 80px
}

.namecont {
    display: flex;
    font-size: 50px
}

.namecontL {
    margin-right: 50px
}

h2 {
    font-family: "Dancing Script",cursive;
    --bodytextcolorwhite: #0c1b2b
}

.cs-container {
    padding: 40px
}

.cs-flex-group {
    color: var(--bodyTextColorWhite);
    flex-direction: column
}

.cs-title {
    color: var(--headerColor);
    margin: .5rem 0 1rem;
    max-width: 43.75rem;
    padding: 30px;
    position: relative
}

.hero-section {
    background: url(headerimage.png)no-repeat center center/cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%
}

.video-bg {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

#hero-229 {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%
}

.cs-container {
    position: relative;
    z-index: 1
}

@media only screen and (max-width:600px) {
    h1 {
        margin: .3rem 0
    }

    h2 {
        font-size: 24px;
        margin: .5rem 0
    }

    .cs-title {
        font-size: 28px;
        margin: 1rem 0
    }

    .nav-content a {
        font-size: 14px
    }

    .namecont,h1 {
        font-size: 18px
    }

    .cs-button-solid,.cs-button-transparent {
        font-size: 12px
    }

    #hero-229 {
        background: url(8mb.video-7VA-6dmVNhS7.mp4)no-repeat center center/cover
    }
}

@media only screen and (min-width:0rem) {
    #hero-229 {
        overflow: hidden;
        padding: 0 1rem
    }

    #hero-229 .cs-picture {
        height: 50%;
        left: 0;
        position: relative;
        top: 0;
        width: 50%
    }

    #hero-229 .cs-picture:before {
        background: #000;
        height: 100%;
        left: 0;
        opacity: .6;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1
    }

    #hero-229 .cs-picture img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%
    }

    #hero-229 .cs-container {
        margin: auto;
        max-width: 80rem;
        padding: clamp(9rem,25.95vw,17.5rem)0;
        position: relative;
        width: 100%
    }

    #hero-229 .cs-container:before {
        background: linear-gradient(to bottom,#fafbfc80 0,#fafbfc00 100%);
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0
    }

    #hero-229 .cs-flex-group {
        align-items: flex-start;
        box-sizing: border-box;
        column-gap: 1.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        max-width: clamp(29rem,60vw,35.125rem);
        width: 80vw
    }

    #hero-229 .cs-topper {
        color: var(--primaryLight);
        display: block;
        font-size: clamp(.8125rem,1.6vw,1rem);
        font-weight: 700;
        letter-spacing: .1rem;
        line-height: 1.2em;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase
    }

    #hero-229 .cs-text,#hero-229 .cs-title {
        margin: 0 auto clamp(2rem,4vw,2.5rem)0;
        text-align: center;
        width: 100%
    }

    #hero-229 .cs-title {
        font-size: clamp(2.4375rem,6.4vw,3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        position: relative
    }

    #hero-229 .cs-text {
        color: #c87b10;
        font-size: clamp(1rem,1.95vw,1.25rem);
        line-height: 1.5em;
        margin-bottom: clamp(2.5rem,4vw,3rem)
    }

    #hero-229 .cs-button-solid,#hero-229 .cs-button-transparent {
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
        position: relative;
        text-decoration: none;
        z-index: 1
    }

    #hero-229 .cs-button-solid {
        background-color: gold;
        border: 0;
        color: #0d604a;
        display: inline-block;
        line-height: clamp(2.875em,5.5vw,3.5em);
        min-width: 9.375rem;
        padding: 0 3rem;
        text-align: center;
        transition: color .3s
    }

    #hero-229 .cs-button-solid:before {
        background: #361c96;
        content: "";
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: width .3s;
        width: 0;
        z-index: -1
    }

    #hero-229 .cs-button-solid:hover {
        color: #380707
    }

    #hero-229 .cs-button-solid:hover:before {
        background: gold;
        width: 100%
    }

    #hero-229 .cs-button-transparent {
        align-items: center;
        background-color: transparent;
        border: 1px solid var(--bodyTextColorWhite);
        color: #3a0b0b;
        display: inline-flex;
        height: clamp(2.875rem,5.5vw,3.5rem);
        justify-content: center;
        line-height: clamp(2.875rem,5.5vw,3.5rem);
        padding: 0;
        width: 11.25rem
    }

    #hero-229 .cs-button-transparent:before {
        background: #843f11;
        bottom: -1px;
        content: "";
        left: -1px;
        opacity: 1;
        position: absolute;
        right: -1px;
        top: -1px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s;
        z-index: -1
    }

    #hero-229 .cs-button-transparent:hover:before {
        transform: scaleX(1)
    }

    #hero-229 .cs-button-transparent .cs-img {
        display: block;
        margin-right: .75rem
    }
}

@media only screen and (min-width:48rem) {
    #hero-229 {
        padding: 0 clamp(2rem,5vw,2.5rem)
    }

    #hero-229 .cs-container:after {
        background: linear-gradient(to bottom,#fafbfc00 0,#fafbfc80 100%);
        height: 100%;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0
    }

    #hero-229 .cs-button-solid {
        margin-bottom: 0
    }
}

@media only screen and (min-width:81.25rem) {
    #hero-229 {
        background: url(8mb.video-7VA-6dmVNhS7.mp4);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    #hero-229 .cs-picture img {
        display: none
    }
}

@media only screen and (min-width:0rem) {
    body.dark-mode #hero-229 .cs-background:before {
        opacity: .8
    }

    #services-1354,#services-1354_1 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 10
    }

    #services-1354 {
        --sectionpadding: clamp(1rem,1.5vw,1.5rem) 1rem
    }

    #services-1354_1 {
        margin: 0 auto;
        max-width: 800px;
        width: 80%
    }

    #services-1354 .cs-container,#services-1354 .cs-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%
    }

    #services-1354 .cs-container {
        gap: clamp(1rem,6vw,4rem);
        justify-content: center;
        margin: auto;
        max-width: 80rem
    }

    #services-1354 .cs-content {
        text-align: center
    }

    #services-1354 .cs-topper {
        color: #af1f1f
    }

    #services-1354 .cs-title {
        margin: 0;
        max-width: 25ch
    }

    #services-1354 .cs-card-group {
        display: grid;
        gap: clamp(1rem,2vw,1.25rem);
        grid-template-columns: repeat(12,1fr);
        margin: 0;
        padding: 0;
        width: 100%
    }

    #services-1354 .cs-item {
        align-items: center;
        background-color: #b46c6c;
        border-radius: 1.5rem;
        box-shadow: 0 12px 80px 0#eb832114;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        grid-column: span 12;
        grid-row: span 1;
        height: 19.0625rem;
        justify-content: center;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 1
    }

    #services-1354 .cs-item:hover .cs-background:before {
        background-color: var(--primary);
        opacity: .84
    }

    #services-1354 .cs-item:hover .cs-background img {
        transform: scale(1.2)
    }

    #services-1354 .cs-h3 {
        color: var(--bodyTextColorWhite);
        font-size: 1.5625rem;
        font-weight: 700;
        line-height: 1.2em;
        margin: 0;
        text-align: inherit;
        transition: color .3s
    }

    #services-1354 .cs-span {
        display: block
    }

    #services-1354 .cs-background,#services-1354 .cs-background:before {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1
    }

    #services-1354 .cs-background:before {
        background-color: #000;
        content: "";
        opacity: .4;
        transition: background-color .3s,opacity .3s;
        z-index: 1
    }

    #services-1354 .cs-background img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        transition: transform .6s;
        width: 100%
    }
}

@media only screen and (min-width:37.5rem) {
    #services-1354 .cs-item {
        grid-column: span 6
    }
}

@media only screen and (min-width:64rem) {
    #services-1354 .cs-content {
        align-items: flex-start;
        text-align: left
    }

    #services-1354 .cs-item {
        grid-column: span 3
    }
}

.cs-text {
    box-sizing: border-box;
    color: #fff;
    left: 50%;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%)
}

.cs-h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0
}

.cs-span {
    font-weight: 400
}

.h6mt-3mb-1 {
    color: #f5f5f5;
    font-family: "Dancing Script",cursive;
    size: 20px
}

.h6mt-3mb-1p {
    color: #f5f5f5;
    size: 25px
}

@media only screen and (min-width:0rem) {
    #RTsbs-459,#RTsbsr-459,#RTsbst-459 {
        padding: var(--sectionPadding)
    }

    #RTsbs-459 .cs-container,#RTsbsr-459 .cs-container,#RTsbst-459 .cs-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin: auto;
        max-width: 80rem;
        width: 100%
    }

    #RTsbs-459 .cs-content,#RTsbsr-459 .cs-content,#RTsbst-459 .cs-content {
        align-items: flex-start;
        background-color: #ecdbc9;
        border-radius: .75rem;
        box-shadow: 0 24px 54px #576b931f;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        margin-top: -18.75rem;
        max-width: 40.625rem;
        overflow: hidden;
        padding: clamp(2.5rem,7vw,3.75rem) clamp(1.25rem,5.5vw,3.75rem);
        position: relative;
        text-align: left;
        width: auto;
        z-index: 10
    }

    #RTsbs-459 .cs-content:before,#RTsbsr-459 .cs-content:before,#RTsbst-459 .cs-content:before {
        background: var(--primary);
        content: "";
        display: block;
        height: .5rem;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        width: 100%
    }

    #RTsbs-459 .cs-text,#RTsbsr-459 .cs-text,#RTsbst-459 .cs-text {
        margin-bottom: 1rem
    }

    #RTsbs-459 .cs-text:last-of-type,#RTsbsr-459 .cs-text:last-of-type,#RTsbst-459 .cs-text:last-of-type {
        margin-bottom: 2rem
    }

    #RTsbs-459 .cs-button-solid,#RTsbsr-459 .cs-button-solid,#RTsbst-459 .cs-button-solid {
        background-color: var(--primary);
        border-radius: .25rem;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        line-height: clamp(2.875rem,5.5vw,3.5rem);
        margin: 0;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 1
    }

    #RTsbs-459 .cs-button-solid:before,#RTsbsr-459 .cs-button-solid:before,#RTsbst-459 .cs-button-solid:before {
        background: #d44a4a;
        border-radius: .25rem;
        content: "";
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: width .3s;
        width: 0;
        z-index: -1
    }

    #RTsbs-459 .cs-button-solid:hover:before,#RTsbsr-459 .cs-button-solid:hover:before,#RTsbst-459 .cs-button-solid:hover:before {
        width: 100%
    }

    #RTsbs-459 .cs-picture,#RTsbsr-459 .cs-picture,#RTsbst-459 .cs-picture {
        border-radius: 1.5rem;
        display: block;
        height: auto;
        height: 27.6875rem;
        order: -1;
        overflow: hidden;
        position: relative;
        width: 100%
    }

    #RTsbs-459 .cs-picture img,#RTsbsr-459 .cs-picture img,#RTsbst-459 .cs-picture img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%
    }
}

@media only screen and (min-width:48rem) {
    #RTsbs-459 .cs-container,#RTsbsr-459 .cs-container,#RTsbst-459 .cs-container {
        align-items: flex-end;
        justify-content: center;
        padding: 3.75rem 0;
        position: relative
    }

    #RTsbs-459 .cs-content,#RTsbsr-459 .cs-content,#RTsbst-459 .cs-content {
        margin: 0;
        width: 65%
    }

    #RTsbs-459 .cs-picture,#RTsbsr-459 .cs-picture,#RTsbst-459 .cs-picture {
        height: 100%;
        left: 0;
        position: absolute;
        width: clamp(29.0625rem,53vw,38.5625rem)
    }
}

@media only screen and (min-width:64rem) {
    #RTsbs-459 .cs-content,#RTsbsr-459 .cs-content,#RTsbst-459 .cs-content {
        margin-right: clamp(5rem,8.5vw,6.75rem)
    }
}

@media only screen and (min-width:0rem) {
    #RTsbsr-459 {
        background-color: #f7f7f7
    }
}

@media only screen and (min-width:48rem) {
    #RTsbsr-459 .cs-container {
        align-items: flex-start
    }

    #RTsbsr-459 .cs-picture {
        left: auto;
        right: 0
    }
}

@media only screen and (min-width:64rem) {
    #RTsbsr-459 .cs-content {
        margin-left: clamp(5rem,8.5vw,6.75rem);
        margin-right: 0
    }
}

.cs-title2 {
    color: #c87b10;
    font-size: var(--headerFontSize);
    font-weight: 15;
    line-height: 1.2em;
    margin: 0 0 1rem;
    max-width: 43.75rem;
    position: relative;
    text-align: inherit
}

.cs-text2 {
    color: var(--bodyTextColor);
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
    max-width: 40.625rem;
    text-align: inherit;
    width: 100%
}

.timeline-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.timeline-steps .timeline-step {
    margin: 1rem;
    position: relative
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        border-top: .25rem dotted #2c1d0b;
        content: "";
        display: block;
        left: 7.5rem;
        position: absolute;
        top: .3125rem;
        width: 3.46rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        border-top: .25rem dotted #251909;
        content: "";
        display: block;
        position: absolute;
        right: 7.5rem;
        top: .3125rem;
        width: 3.8125rem
    }
}

.timeline-steps .timeline-content {
    text-align: center;
    width: 10rem
}

.timeline-steps .timeline-content .inner-circle {
    align-items: center;
    background-color: #c0881877;
    border-radius: 1.5rem;
    display: inline-flex;
    height: 1rem;
    justify-content: center;
    width: 1rem
}

.timeline-steps .timeline-content .inner-circle:before {
    background-color: #23170a;
    border-radius: 6.25rem;
    content: "";
    display: inline-block;
    height: 3rem;
    min-width: 3rem;
    opacity: .5;
    width: 3rem
}

.html,body,html {
    height: 100%;
    overflow-y: scroll
}

body,html {
    margin: 0;
    overflow-x: hidden
}

.html {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch
}

body {
    height: unset;
    overflow-y: visible;
    position: relative;
    padding: 0
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 400%
}

.initialSection {
    flex-direction: column
}

.finalSection,.initialSection {
    align-items: center;
    background: #ff0;
    display: flex;
    height: 100vh;
    justify-content: center
}

@media only screen and (min-width:0rem) {
    #gallery-404 {
        overflow: hidden;
        padding: var(--sectionPadding);
        position: relative
    }

    #gallery-404 .cs-content,.projects-gallery {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center
    }

    .projects-gallery {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center
    }

    #gallery-404 .cs-content {
        width: 100%
    }

    #gallery-404 .cs-title {
        max-width: 20ch
    }

    #gallery-404 .cs-button-group {
        align-items: center;
        column-gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        row-gap: .5rem
    }

    #gallery-404 .cs-button {
        background-color: transparent;
        border: 0;
        color: var(--bodyTextColor);
        font-size: 1rem;
        line-height: 1.5em;
        transition: color .3s
    }

    #gallery-404 .cs-button:hover {
        color: var(--primary);
        cursor: pointer
    }

    #gallery-404 .cs-button.cs-active {
        color: var(--primary)
    }

    #gallery-404 .cs-gallery-wrapper {
        position: relative;
        width: 100%;
        z-index: 1
    }

    #gallery-404 .cs-gallery {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: clamp(1rem,1.5vw,1.25rem);
        justify-content: center;
        margin: 0;
        opacity: 1;
        padding: 0;
        position: relative;
        transform-origin: left top;
        transition: transform .7s,opacity .3s,visibility .5s,top .3s,left .3s;
        visibility: visible;
        width: 100%
    }

    #gallery-404 .cs-gallery.cs-hidden {
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: scaleY(0) scaleX(0);
        visibility: hidden
    }

    #gallery-404 .cs-gallery.cs-hidden .cs-image {
        opacity: 0;
        transform: translateY(2.1875rem)
    }

    #gallery-404 .cs-image {
        aspect-ratio: 1;
        border-radius: 1.25rem;
        display: block;
        opacity: 1;
        overflow: hidden;
        position: relative;
        transform: translateY(0);
        transition: opacity .6s,transform .6s;
        width: 47%
    }

    #gallery-404 .cs-image:nth-of-type(1) {
        transition-delay: .15s
    }

    #gallery-404 .cs-image:nth-of-type(2) {
        transition-delay: .3s
    }

    #gallery-404 .cs-image:nth-of-type(3) {
        transition-delay: .45s
    }

    #gallery-404 .cs-image:nth-of-type(4) {
        transition-delay: .6s
    }

    #gallery-404 .cs-image:nth-of-type(5) {
        transition-delay: .75s
    }

    #gallery-404 .cs-image:nth-of-type(6) {
        transition-delay: .9s
    }

    #gallery-404 .cs-image img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%
    }
}

@media only screen and (min-width:48rem) {
    #gallery-404 .cs-container {
        max-width: 80rem
    }

    #gallery-404 .cs-content {
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
        text-align: left
    }

    #gallery-404 .cs-title {
        margin: 0
    }

    #gallery-404 .cs-image {
        aspect-ratio: 1;
        width: 31.8%
    }
}

@media only screen and (min-width:81.25rem) {
    #gallery-404 .cs-flex {
        max-width: 34.375rem
    }

    #gallery-404 .cs-gallery {
        align-items: stretch;
        justify-content: center
    }

    #gallery-404 .cs-image {
        height: 25rem;
        max-width: 100%;
        width: 39.375rem
    }

    #gallery-404 .cs-image:nth-of-type(2),#gallery-404 .cs-image:nth-of-type(3),#gallery-404 .cs-image:nth-of-type(4),#gallery-404 .cs-image:nth-of-type(5) {
        width: 19.0625rem
    }

    #gallery-404 .cs-image:nth-of-type(1) {
        transition-delay: .15s
    }

    #gallery-404 .cs-image:nth-of-type(2) {
        transition-delay: .3s
    }

    #gallery-404 .cs-image:nth-of-type(3) {
        transition-delay: .45s
    }

    #gallery-404 .cs-image:nth-of-type(4) {
        transition-delay: .15s
    }

    #gallery-404 .cs-image:nth-of-type(5) {
        transition-delay: .3s
    }

    #gallery-404 .cs-image:nth-of-type(6) {
        transition-delay: .45s
    }
}

.cs-topper {
    color: var(--primary);
    display: block;
    font-size: var(--topperFontSize);
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1.2em;
    margin-bottom: .25rem;
    text-align: inherit;
    text-transform: uppercase
}

.cs-text {
    color: var(--bodyTextColor);
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    margin: 0;
    max-width: 40.625rem;
    text-align: inherit;
    width: 100%
}

.center-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 100px
}

.skills-section {
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 20px #0000001a;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    width: 100%
}

.skills-section h2 {
    color: #c87b10;
    font-size: 40px;
    margin-bottom: 20px
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center
}

.skill-item {
    background: linear-gradient(135deg,#f4f1ec,#ecdbc9);
    border-radius: 8px;
    box-shadow: 0 2px 8px #0000001a;
    padding: 15px;
    text-align: center;
    transition: transform .2s ease,box-shadow .2s ease;
    width: 200px
}

.skill-item:hover {
    box-shadow: 0 4px 12px #00000026;
    transform: translateY(-5px)
}

.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center
}

.icon {
    height: 70px;
    transition: transform .2s ease,filter .2s ease;
    width: 70px
}

.icon:hover {
    filter: brightness(1.2);
    transform: scale(1.1)
}

.projects-gallery {
    margin: 10px auto 0;
    max-width: 1200px;
    padding: 20px;
    text-align: center
}

.gallery-title {
    color: #333;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}

.project-card {
    background-color: #ecdbc9;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0003;
    max-width: 270px;
    overflow: hidden;
    text-align: left;
    transition: transform .3s ease
}

.project-card:hover {
    transform: translateY(-10px)
}

.project-image {
    height: 150px;
    object-fit: cover;
    width: 100%
}

.project-title {
    color: #333;
    font-size: 1.5em;
    margin: 10px 15px 5px
}

.project-description {
    color: #555;
    font-size: .9em;
    line-height: 1.5em;
    margin: 0 15px 15px
}

@media (max-width:768px) {
    .card-container {
        align-items: center;
        flex-direction: column
    }

    .project-card {
        max-width: 90%
    }
}

#contact-me {
    padding: 100px;
    text-align: center
}

.contact-container h2 {
    color: var(--primary);
    font-size: var(--headerFontSize);
    margin-bottom: 1rem
}

.contact-list,.contact-list a {
    align-items: center;
    display: flex
}

.contact-list {
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0 auto;
    max-width: 300px;
    padding: 0
}

.contact-list li {
    width: 100%
}

.contact-list a {
    border: 2px solid var(--primaryLight);
    border-radius: 8px;
    color: #b74848;
    gap: .5rem;
    justify-content: center;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease,color .3s ease;
    width: 100%
}

.contact-list a:hover {
    background-color: var(--primary);
    color: #c87b10
}

.contact-list i {
    font-size: 1.5rem
}
